body{
    background-image: url(background.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}
.navbar{
    font-size:35px;
    color:rgb(0, 14, 213);
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar ul {
  list-style-type: none;
  font-size: 20px;
  color:antiquewhite;
  margin: 0;
  padding: 0;
  overflow: hidden;
  
}

.navbar li {
  float: left;
}

.navbar li a {
  display: block;
  color: rgb(24, 144, 225);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.content{
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
}
.content .head1{
    font-size: 25px;
    margin-top: 60px;
    margin-left: 60px;
    text-transform: capitalize;
    color: aquamarine;
} 
.content .name1{
    text-transform: capitalize;
    font-size: 40px;
}
.aboutme{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
    color: beige;

}
.aboutme .head2{
    font-size: 60px;
    font-weight: 800;
    color: aquamarine;
}
.aboutme .content2{
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    
}
.contact_content{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    font-size: 30px;
    color: beige;
}
.contact_content .head1{
    font-size: 60px;
    font-weight: 800;
    color: aquamarine;
}
.skillist ul{
    color: beige;
}
.education{
    font-size: 20px;
}